

blockquote {
    font-style: normal;
    padding: 3vh;
}

blockquote h3 {
    margin: 0;
    padding: 0;
}

.error {
    border-left-color: red;
    background: #FFCC99;
}

.success {
    border-left-color: green;
    background: #DDFFDD;
}

.warning {
    border-left-color: orange;
}

section {
    margin: 4vh;
    padding: 2vh;
    border-radius: 1vh;
}

.display-seed {
    background: #EEE;
    margin: 1vh;
}

.seedlings-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}


.profile-pic-wrap {
    float: right;
    height: 30vmin;
    width: 30vmin;
    margin: 1vh;
    padding: 0;
    box-sizing: border-box;
}

.profile-pic {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer {
    width: 100vw;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
}