
blockquote {
    font-style: normal;
    padding: 3vh;
}

blockquote h3 {
    margin: 0;
    padding: 0;
}

.error {
    border-left-color: red;
    background: #FFCC99;
}

.success {
    border-left-color: green;
    background: #DDFFDD;
}

.warning {
    border-left-color: orange;
}

section {
    margin: 4vh;
}

.display-seed {
    background: #EEE;
    margin: 4vh;
}