/*
header {
    background: #DDD;
    margin-top: 0;
    padding-top: 1vh;
    border-radius: 2vh;
}*/

/*
nav {
    display: block;
}

nav li {
    list-style: none;
    float: left;
}

nav a {
    text-decoration: none;
}*/
